{% extends 'base.html' %}
{% block content %}
    <h1>Members</h1>
    <ul class="list-group">
        {% for member in members %}
            <li class="list-group-item">
                <a href="{% url 'members:profile' member.id %}">{{ member.username }}</a>
            </li>
            <div>
                {% if member.profile.profile_picture %}
                    <img src="{{ member.profile.profile_picture.url }}" alt="Profile Picture" class="img-fluid" style="max-width: 200px;">
                {% endif %}
            </div>
        {% empty %}
            <li class="list-group-item">No members yet.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'members:profile_edit' %}" class="btn btn-primary mt-3">Edit My Profile</a>
{% endblock %}