{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="profile-container">
        <h1><span class="username">{{ user.username }}</span>'s Profile</h1>
        {% if profile.profile_picture %}
            <img src="{{ profile.profile_picture.url }}" alt="profile" onerror="this.onerror=null;src='/static/images/Avatar.jpg'" class="profile-picture img-fluid">
        {% else %}
            <img src="{% static 'images/Avatar.jpg' %}" alt="default profile" class="profile-picture img-fluid">
        {% endif %}
        <div class="profile-details">
            <p><strong>Full Name:</strong> {{ profile.full_name|default:"No name provided." }}</p>
            <p><strong>Bio:</strong> {{ profile.bio|default:"No bio provided." }}</p>
            <p><strong>Graduation Year:</strong> {{ profile.graduation_year|default:"Not specified" }}</p>
            <p><strong>Current Employer:</strong> {{ profile.current_employer|default:"Not specified" }}</p>
        </div>
        <div class="button-container">
            {% if user == request.user %}
                <a href="{% url 'members:profile_edit' %}" class="btn btn-primary">Edit Profile</a>
            {% endif %}
            <a href="{% url 'members:member_list' %}" class="btn btn-secondary">Back</a>
        </div>
    </div>
{% endblock %}